.h1-tag{
    color:blueviolet;
}
.nav-bar{
    background-color: #d57aae;
    padding: 16px;
    border-color: #060606;
    border-width: 8px;
    border-style: solid;
    text-align: center;
}
.nav-bar a{
    color: #060606;
    text-decoration: none;
    margin: 0 10px;
}
.nav-bar a:hover{
    color:azure;
    padding:4px;
}
.card{
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}